.theme-dark:root {
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --heading-color: #000028;
  --section-title-color: #FF0070;
  --bg-button: transparent;
  --text-color: #F1B2CE;
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  background-image: var(--bg-image);
}

.theme-dark .decor {
  visibility: visible;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color);
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --decor-color: #FF0070;
    --heading-color: #000028;
    --section-title-color: #FF0070;
    --bg-button: transparent;
    --text-color: #f1b2ce;
    --hover-button-color: rgba(255, 0, 112, 0.4);
    --bg-image: url(../images/cover-image-dark.png);
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .decor {
    visibility: visible;
  }

}