/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --description-color: #000;
  --main-text: "IBM Plex Mono", "monospace";
  --font-size: 18px;
  --bg-header: url("../images/cover-image-dark.png");
  --bg-button: transparent;
  --bold-font: 700;
  --regular-font: 400;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --decor-visibility: visible;
}

.theme-dark .decor {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --description-color: #000;
  --main-text: "IBM Plex Mono";
  }

  .page {
    --bg-header: url("../images/cover-image-dark.png");
  }

  .decor {
    visibility: var(--accent-color, #ff0070);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--accent-color, #ff0070);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(var(--accent-color, 255, 0, 112), 0.4);
  }
    
    .header__theme-menu-button:focus {
      outline: none;
    }
    
    .header__theme-menu-button:focus-visible {
      border-bottom: 1px solid var(--accent-color, #ff0070);
    }

    .header__theme-menu-button {
      color: var(--accent-color, #ff0070);
  }

  .decorated-zone::before {
    border-inline-end: 1px solid var(--accent-color, #ff0070)0);
    border-block-start: 1px solid var(--accent-color, #ff0070);
  }
  .decorated-zone::after {
    border-inline-start: 1px solid var(--accent-color, #ff0070);
    border-block-end: 1px solid var(--accent-color, #ff0070);
  }
}

