:root {
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --heading-color: #000028;
  --section-title-color: #FF0070;
  --bg-button: transparent;
  --text-color: #F1B2CE;
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --main-font-family: "IBM Plex Mono", "monospace";
  --main-font: 400;
  --accent-font: 700;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}